@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@font-face {
    font-family: havanasunset;
    src: url(../assets/fonts/HAVANA_SUNSET/havana-sunset-script.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 7%;
    transition: ease .40s;
    margin-bottom: 2.5rem;
}

section {
    padding: 80px 11% 50px 11%;
}

.logo {
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 0, 98);
    /* border: 1px solid white; */
    margin-right: 10px;
    font-size: 16.8px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 7px;
    transition: ease .40s;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 7px;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    margin-right: 1rem;
}

/* Home Section  */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/img/sunset-g1016517c5_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 35% 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.hometext h1 {
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    letter-spacing: 6px;
    margin-left: 40px;
    font-family: havanasunset !important;
}

.ex-text {
    margin-left: 50px !important;
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    letter-spacing: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: havanasunset !important;
}

.hometext p {
    color: white;
    font-size: 17px;
    font-weight: 300;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-button {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    background: #fff;
    color: var(--main-color);
    border-radius: 7px;
    transition: ease .40s;
    border: none;
}

.home-button:hover {
    background: blue;
    font-weight: 600;
    color: white;
    border: none;
    transform: scale(1.1);
}

.home-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

/* to add bg colot to sticky header */

.sticky {
    background: rgb(42, 0, 210);
    padding: 20px 7%;
    box-shadow: rgba(35, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
    color: var(--bg-color);
}

.sticky .navbar a {
    color: var(--bg-color);
}

.sticky .navbar a:hover {
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h2 {
    font-size: 39px;
    font-weight: 600;
    line-height: 1;
}

/* Services Section */

.service-container {
    display: flex;
}

.row-items {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    padding: 0.5rem;
}

.container-box {
    background: var(--bg-color);
    border: 1.8px solid #f0eded;
    padding: 50px 10px;
    border-radius: 7px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.container-img img {
    width: 95px;
    height: auto;
    padding: 15px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 7px;
    margin-bottom: 15px;
    cursor: pointer;
}


.container-box:hover {
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border: 1px solid transparent;
    transform: translateY(-15px);
}

.container-box h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container-box p {
    margin-top: 1.2rem !important;
    font-size: 13px;
    color: var(--second-color);
}

/* Package section */

.package {
    display: flex;
    background: #ffeded;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.title h2 {
    font-size: 39px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
}

.package-container1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between !important;
}

.package-content1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
}

.thumbnail1 {
    position: relative;
    transition: all .3s cubic-bezier(.445, .05, .055, .95);
    will-change: filter;
    cursor: pointer;
}

.thumbnail1:hover {
    transform: scale(1.07);
}

.thumbnail1 img {
    width: 16rem;
    height: 10.8rem;
    border-radius: 7px;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    margin-bottom: 1rem;
}

.thumbnail1 h3 {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: black;
    top: 4px;
    right: 9px;
}

.dest-content1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 24px;
}

.location1 h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 9px;
}

.location1 p {
    font-size: 13px;
    font-weight: 200;
    color: var(--second-color);
}

.stars1 i {
    color: gold;
    font-size: 15px;
}

.package-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between !important;
}

.package-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
}

.thumbnail {
    position: relative;
    transition: all .3s cubic-bezier(.445, .05, .055, .95);
    will-change: filter;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.07);
}

.thumbnail img {
    width: 16rem;
    height: auto;
    border-radius: 7px;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    margin-bottom: 1rem;
}

.thumbnail h3 {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: var(--bg-color);
    top: 4px;
    right: 9px;
}

.dest-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 24px;
}

.location h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 9px;
}

.location p {
    font-size: 13px;
    font-weight: 200;
    color: var(--second-color);
}

.stars i {
    color: gold;
    font-size: 15px;
}

.destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destination-con {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 1.7rem;
}

.content1 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.col-content {
    position: relative;
    margin: 1rem;
    transition: all .3s cubic-bezier(.445, .05, .055, .95);
}

.col-content:hover {
    transform: scale(1.08);
}

.col-content img {
    width: 380px;
    height: 450px;
    object-fit: cover;
    transition: all .3s cubic-bezier(.445, .05, .055, .95);
    border-radius: 9px;
    will-change: filter;
}

.col-content h5 {
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    color: var(--bg-color);
    left: 15px;
    bottom: 60px;
}

.col-content p {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 12px;
    color: var(--bg-color);
    left: 15px;
    bottom: 25px;
    letter-spacing: 1px;
}

.news {
    position: relative;
    padding: 8rem 6.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 3rem;
}

.news:before {
    content: "";
    background: url(../assets/img/ladakh\ landscape.jpg);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55vh;
    z-index: -1;
    filter: blur(2px);
    /* Adjust the blur value as desired */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 35% 5%;
}

.news-text h2 {
    font-size: var(--h2-font);
    color: rgba(67, 67, 67, 0.958);
    margin-bottom: 8px;
    letter-spacing: 1.5px;
}

.news-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 30px;
}

.news form {
    max-width: 100%;
    width: 450px;
    position: relative;
}

.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.news form input:last-child {
    display: inline-block;
    position: absolute;
    padding: 14px 20px;
    background-color: #6e54fa;
    color: white;
    top: 6px;
    right: 6px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    cursor: pointer;
}

.contact {
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px 0;
    text-align: left;
}

.list {
    width: 25%;
}

.list h4 {
    font-size: 22px;
    color: var(--bg-color);
    margin-bottom: 30px;
    position: relative;
}

.list h4:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: var(--bg-color);
}

.list li li:not(last-child) {
    margin-bottom: 16px;
}

.list ul li a {
    color: #f1f1f1e4;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    margin-bottom: 0.4rem;
}

.list ul li a:hover {
    color: var(--bg-color);
    transform: translateX(14px);
    font-weight: 700;
}

.social-media {
    display: flex;
}

.social a {
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: 0.3s all ease-in-out;
    margin-right: 1rem;
}

.list .social a:hover {
    transform: scale(1.1);
}

.end-text {
    text-align: center;
    padding-top: 40px;
}

.copyright {
    color: #fff;
    font-size: 17.5px;
    margin-bottom: 0.8rem;
}

.credit-nlp {
    color: #fff;
    font-size: 14px;
}


/* Media Queries */

@media (max-width: 1400px) {

    :root {
        --big-font: 4.2rem;
        --h2-font: 2.1rem;
        --p-font: 0.8rem;
        transition: .2s;
    }

    section {
        padding: 80px 5% 50px 5% !important;
    }

    header {
        padding: 17px 3% !important;
        transition: 0.2s !important;
    }

    .navbar a {
        font-size: 14px !important;
        transform: 0.2s !important;
    }

    .sticky {
        padding: 13px 3% !important;
        transition: 0.2s !important;
    }

    .sticky .navbar a {
        font-size: 14px !important;
        transform: 0.2s !important;
    }

    /* Home Section */

    .home {
        height: 100vh !important;
        background-position: 35% 5%;
        transition: 0.2s !important;
    }

    /* Services Section */

    .row-items {
        grid-gap: 0.7rem !important;
        margin-top: 4rem !important;
        padding: 0.4rem !important;
    }

    .container-box {
        padding: 40px 5px !important;
    }

    .container-img img {
        width: 80px !important;
        padding: 13px !important;
    }


    /* .container-box:hover {
        box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
        border: 1px solid transparent;
        transform: translateY(-6px);
    } */

    .container-box h4 {
        font-size: 14px !important;
    }

    .container-box p {
        margin-top: 1rem !important;
        font-size: 12px !important;

    }

    /* Package Section */

    .package-content1 {
        grid-gap: 1rem !important;
        margin-top: 2rem !important;
        grid-template-columns: repeat(auto-fit, minmax(175px, auto)) !important;
    }

    .thumbnail1 {
        margin-right: 1rem !important;
    }

    .thumbnail1 img {
        width: 11.7rem !important;
        height: auto;
    }

    .thumbnail1 h3 {
        font-size: 12px !important;
        color: rgb(76, 71, 71) !important;
        right: 5px !important;
    }

    .dest-content1 {
        padding-top: 0px !important;
    }

    .package-content {
        grid-gap: 1rem !important;
        margin-top: 2rem !important;
    }

    .thumbnail {
        margin-right: 1.9rem !important;
    }

    .thumbnail img {
        width: 13rem !important;
        height: auto;
    }

    .thumbnail h3 {
        font-size: 12px !important;
        right: 2px !important;
    }

    .dest-content {
        padding-top: 0px !important;
    }

    /* Destination Section */

    .col-content img {
        width: 302px !important;
        height: 344px !important;
    }
}

@media (max-width: 1020px) {
    #menu-icon {
        display: block;
    }

    .sticky #menu-icon {
        color: --var(--text-color);
    }

    .home {
        height: 88vh;
    }

    .navbar {
        position: absolute;
        top: 12px;
        right: -100%;
        width: 200px;
        height: 23rem;
        border-radius: 12px;
        background: #ff0044;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 30px;
        transition: 0.5s all;
    }

    .navbar a {
        color: white !important;
        display: block;
        margin: 0.6rem 0;
    }

    .navbar a:hover {
        color: black !important;
    }

    .open {
        right: 12px;
    }

    .list {
        width: 50%;
        margin-bottom: 12px;
        transition: 0.3s ease;
    }
}

@media (max-width: 600px) {

    :root {
        --big-font: 2.5rem;
        --h2-font: 1.8rem;
        --p-font: 0.5rem;
        transition: .2s;
    }

    .logo {
        font-size: 18px !important;
    }

    .home {
        /* background-position: 40% !important; */
        height: 79vh !important;
    }

    .hometext h1 {
        font-weight: 800 !important;
    }

    .hometext p {
        font-size: 14px !important;
    }

    .text h2 {
        font-size: 15px;
    }

    .service-container {
        flex-direction: column !important;
    }

    .title h2 {
        font-size: 30px !important;
    }

    .package-container1 {
        flex-direction: column !important;
    }

    .destination-con .content1 {
        display: flex;
        flex-direction: column;
        transition: 0.2s ease;
    }

    .news form {
        width: 300px !important;
    }

    .list {
        width: 100%;
    }
}

@media (max-width: 340px) {

    :root {
        --big-font: 1.5rem;
        --h2-font: 1rem;
        --p-font: 0.1rem;
        transition: .2s;
    }

    .logo {
        font-size: 15px !important;
    }

    .home {
        /* background-position: 40% !important; */
        height: 82vh !important;
    }

    .hometext h1 {
        font-weight: 800 !important;
        letter-spacing: 0.5px !important;
        margin-left: 10px;
    }

    .ex-text {
        margin-left: 0px !important;
    }

    .hometext p {
        font-size: 14px !important;
    }

    .text h2 {
        font-size: 15px;
    }

    .service-container {
        flex-direction: column !important;
    }

    .title h2 {
        font-size: 30px !important;
    }

    .package-container1 {
        flex-direction: column !important;
    }

    .destination-con .content1 {
        display: flex;
        flex-direction: column;
        transition: 0.2s ease;
    }

    .news form {
        width: 300px !important;
    }

    .list {
        width: 100%;
    }
}