@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@font-face {
    font-family: havanasunset;
    src: url(../assets/fonts/HAVANA_SUNSET/havana-sunset-script.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 7%;
    transition: ease .40s;
    margin-bottom: 2.5rem;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 0, 98);
    /* border: 1px solid white; */
    margin-right:10px;
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 7px;
    transition: ease .40s;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 7px;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 80px 18%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/img/sunset-g1016517c5_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.hometext h1 {
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    letter-spacing: 6px;
    margin-bottom: 20px;
    font-family: havanasunset !important;
}

.hometext p {
    color: white;
    font-size: 18.7px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 50px;
}

.home-button {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    background: #fff;
    color: var(--main-color);
    border-radius: 7px;
    transition: ease .40s;
    border: none;
}

.home-button:hover{
    background: blue;
    font-weight: 600;
    color: white;
    border: none;
    transform: scale(1.1);
}